/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 1px dotted grey;
	font-size: 100%;
	font: 62.5%;
    vertical-align: baseline;
    background-color: black;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    margin:2% auto;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 2rem;
}
img{
    height: 30vh;
}
#top{
    background-image: url("https://images.unsplash.com/photo-1595160510280-c1f6dd26aa9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80");
    text-align: center;
    padding: 5%;
    font-size: 4rem;

}

#gut{
    width: 80%;
    margin:2% auto;
    display: flex;
    flex-direction: column;
}

button{
    margin:2% auto;
    width: 40%;
    padding: .5%;
    font-size: 1.2rem;
    background-color: rosybrown;
}

#gut table{
    text-align: right;
}

#gut table tr td{
    width: 20%;
    padding: 1%;
}

#name{
    width:70%
}

.title{
    background-color: papayawhip;
    color:black;
}

  
  table#map{
    width:80%;
    text-align:center;
    margin:0 auto;
  }
  td:hover{
    background-color:red;
  }
  button{
    width:55%;
    height:55%;
  }
  
  button:hover{
    background-color:lightgreen;
  }

  .gut{
      display: flex;
  }